.button {
  padding: 8px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-style: solid;
  margin: 4px ;
}

.login {
  background-color: transparent !important;
  color: white;
  border: 1px solid #fff !important;
}

.signup {
  background-color: white;
  color: #1C39BB;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 450px) {
  .button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-style: solid;
    margin: 4px ;
    font-weight: 400 !important;
    line-height: 20px !important;
  }
  .signup {
    background-color: white;
    color: #1C39BB;
    flex-wrap: nowrap;
    padding: 10px 4px;
    font-size: 12px !important;

  }
  .login {
    background-color: transparent !important;
    color: white;
    border: 1px solid #fff !important;
    padding: 10px 3px;
    font-size: 14px !important;


  }
}